<%- include('../partials/header') %>
<h2><%=title%></h2> 

	<div>
    <p>8 years ago my family purchased property with the hopes of being able to design a new home that could also support our town in building up an economy.</p>
    <p>The folks in my town have to drive 30 minutes out to buy any form of produce and daily essentials</p>
    <p>Here are images of my home from Febuary 2022</p>
  <div>
  <img src="https://i.imgur.com/gEqoIO5.jpg">
    <img src="https://i.imgur.com/e6LvkQw.jpg">
    <img src="https://i.imgur.com/ZrEksDZ.jpg">
 </div> 
<%- include('../partials/footer') %>