<%- include('../partials/header') %>
<h2><%=title%></h2> 

	<div>
  	<h2>My House</h2>
  	<h5>My Home Currently</h5>
    <p>My dream has always been to return back home to my family and my town</p>
    <p>Two months ago my family started construction on our property</p>
    <p>We worked really hard these last two years to save up for this project. I'm hopeful that with this education I'll find remote work so that I can return home and still make a living in the states.</p>
  <div>
  <img src="https://i.imgur.com/NwqaiGA.jpeg">
    <img src="https://i.imgur.com/HGEdADT.jpg">
    <img src="https://i.imgur.com/bTaKI4v.jpeg">
 </div> 
<%- include('../partials/footer') %>