<%- include('../partials/header') %>

<h2><%=title%></h2>

	<div>
  	<h2>Origin</h2>
  	<h5>This is my town Las Trojes, Jalisco.   
        Population: 705 
    </h5>
    <p>Las Trojes, Jalisco is so small that it doesn't classify as its own town and actually pertains to Jocotepec, Jalisco which is a 35 minute drive away.</p>
    <p>Las Trojes, Jalisco sits atop of a mountain that borders the largest lake in Mexico, Lake Chapala.</p>
  <div>
  <img src="https://i.imgur.com/dWNHG8Q.png">
 </div>

    <%- include('../partials/footer') %>